@font-face {
	font-family: 'Circular Std Book';
	src: url('../fonts/CircularStd-Book.eot');
	src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CircularStd-Book.woff2') format('woff2'),
		url('../fonts/CircularStd-Book.woff') format('woff'),
		url('../fonts/CircularStd-Book.ttf') format('truetype'),
		url('../fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/CircularStd-Medium.eot');
	src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CircularStd-Medium.woff2') format('woff2'),
		url('../fonts/CircularStd-Medium.woff') format('woff'),
		url('../fonts/CircularStd-Medium.ttf') format('truetype'),
		url('../fonts/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

header {
	padding: 21px 0;
	background-color: #09111F;
}

.box {
	max-width: 1146px;
	margin: auto;
}

header .box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav a {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #000;
}

header .btn {
	padding: 15px 30px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	background: #3A68B8;
	border-radius: 5px;
}

nav ul {
	display: flex;
}

nav ul li {
	margin: 0 20px;
}

header nav a {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}

/* main banner------------- */

.main_banner {
	background-color: #09111F;
	height: 85vh;
	padding: 50px 0 90px;
}

.main_banner .box {
	display: flex;
	position: relative;
}

.main_banner article {
	max-width: 604px;
	margin-top: 110px;
}

.main_banner h1 {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 55px;
	line-height: 130%;
	color: #FFFFFF;
	margin-bottom: 40px;
}

.main_banner p:first-of-type {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	text-transform: uppercase;
	color: #3A68B8;
	margin-bottom: 10px;
}

.main_banner p:last-of-type {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	color: #FFFFFF;
	opacity: 0.7;
	margin-bottom: 50px;
}

.main_banner img {
	width: 100%;
	display: block;
}

.main_banner .img {
	width: 632px;
	position: absolute;
	left: 718px;
}

.main_banner .box a {
	padding: 15px 30px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	color: #FFFFFF;
	background: #3A68B8;
	border-radius: 5px;

}

.main_banner .box a:first-of-type {
	margin-right: 20px;
}